<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./footer.css">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet" />
    <title>FOOTER</title>
</head>

<body>
    <footer id="footer-main-main">
        <div id="footer-div-1">
            <p class="footer-p-tags">ONLINE SHOPPING SITE FOR WOMENS FASHION - FABALLEY</p>
            <p>
                FabAlley.com is an online fashion store for taste-makers and
                trend-breakers all over the country. When it comes to online shopping
                for women looking for the latest fashion trends, FabAlley is the
                one-stop destination. Started in 2012, this online fashion store
                comprises of the trendiest tops, hottest dresses, skirts, jackets,
                shoes, bags, accessories and fashion jewellery for women online
                shopping. Every new season brings fresh and latest fashion for women.
                And it becomes important for you to keep up with the current trend.
                However, FabAlley has all your styling stress sussed!
            </p>
        </div>
        <div id="footer-div-2" style="border: 1px solid black; background-color: antiquewhite;">
            <img src="https://img.faballey.com/images/membership-desktop2.png" alt="" />
            <div id="footer-div-21">
                <p class="footer-p-tags">DOWNLOAD THE APP</p>
                <div id="footer-div-211">
                    <img src="https://static.faballey.com/images/glplay.png?v=11.39" alt="" />
                    <img src="https://static.faballey.com/images/appstore.png?v=11.39" alt="" />
                </div>
            </div>
        </div>
        <div id="footer-div-3">
            <div id="footer-div-31">
                <p class="footer-p-tags" style="margin-bottom: 35px;">COMPANY</p>
                <p>About Us</p>
                <p>Careers</p>
                <p>Contact Us</p>
                <p>FabAlley CSR</p>
                <p>Gift Cards</p>
            </div>
            <div id="footer-div-32">
                <p class="footer-p-tags" style="text-align: center;">HELP</p>
                <div id="footer-div-32a">
                <div id="footer-div-321">
                    <p>Order Status</p>
                    <p>Returns & Exchange</p>
                    <p>International Orders</p>
                    <p>Terms And Conditions</p>
                    <p>Privacy Policy</p>
                    <p>Investor Relations</p>
                    <p>Responsible Disclosure Policy</p>
                </div>
                <div id="footer-div-322">
                    <p>FAQs</p>
                    <p>Cancellation policy</p>
                    <p>Shipping Policy</p>
                    <p>Ordering & Payment</p>
                    <p>Size Guide</p>
                    <p>Wholesale Enquiry</p>
                    <a href="https://dashboard-flax-eight.vercel.app/" target="_blank" style="color: black;">For Admin</a>
                </div>
            </div>
            </div>
            <div id="footer-div-323">
                <p class="footer-p-tags" style="margin-bottom: 31px;">NEWSLETTER SIGNUP</p>
                <div id="footer-div-3231">
                    <input type="email" name="" placeholder="ENTER EMAIL ADDRESS" />
                    <button>SUBSCRIBE</button>
                </div>
                <img src="../resources/Connectwithus.png" alt="" />
            </div>
        </div>
        <div id="footer-div-4">
            <p class="footer-p-tags">IN CASE OF ANY CONCERN, CONTACT US</p>
            <div id="footer-div-41">
                <div id="footer-div-411">
                    <p class="footer-p-tags">HEAD OFFICE ADDRESS:</p>
                    <p>
                        High Street Essentials Pvt Ltd C-11, Sector 7, Noida, UP- 201301,
                        India Customer Care:+91-8929987349 / 0120-6850262
                    </p>
                </div>
                <div id="footer-div-411">
                    <p class="footer-p-tags">RETURN ADDRESS:</p>
                    <p>
                        High Street Essentials Pvt Ltd
                        Plot No-1C/2, Sector 16,
                        Greater Noida(West), Gautam Buddha Nagar, UP - 201306, India
                    </p>
                </div>
                <div id="footer-div-412">
                    <p class="footer-p-tags">PAYMENT METHODS</p>
                    <img src="https://static.faballey.com/images/patmentimg.png?v=11.39" alt="">
                </div>
            </div>
        </div>
        <div id="footer-div-5">
            <p class="footer-p-tags">POPULAR SEARCHES:</p>
            <p>New Arrivals | Western Clothing | Tops | Dresses | Skirts | Bottoms | Denim | Jackets & Blazers | Shrugs
                |
                Work Wear | Vacation Wear | Casual Wear | Crop Tops | Maxi Tops | Off Shoulder Tops | Cold Shoulder Tops
                Maxi Dresses | Skater Dresses I Mini Dresses | Off Shoulder Dresses | Cold Shoulder Dresses | Floral
                Dresses
                Plus Size Tops | Winter Wear | Leggings | Jeggings | Women's Loungewear | Wholesale Enquiries
                Curve | Accessories | Sale | Party Wear |
                | Ruffled Tops | Bell Sleeve Tops | Floral Tops |
                | LBD | Jumpsuits | Plus Size Dresses</p>
        </div>
        <div id="footer-div-6">
            <p>©2023 FabAlley.com. All Rights Reserved</p>
        </div>
    </footer>
</body>

</html>