<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Navbar</title>
    <link rel="stylesheet" href="./navbar.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div id="navbar">
      <div id="top-banner">
        <div id="left"></div>
        <div id="center">
          <div id="faballey-img">
            <img
              src="https://static.faballey.com/images/indya/fabwht.png?v=11.39"
              alt=""
            />
          </div>
          <div id="indya">
            <img
              src="https://static.faballey.com/images/indya/indblk.png?v=11.39"
              alt=""
            />
          </div>
        </div>
        <div id="right">
          <a href="">Track Order |</a>
          <a href="">Store Locator |</a>
          <a href="">Login |</a>
          <a href="">Sign up |</a>
          <a id="navbar-cart">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="20"
              height="20"
              fill="#000000"
              viewBox="0 0 256 256"
            >
              <rect width="256" height="256" fill="none"></rect>
              <path
                d="M208.8,72H47.2a8.1,8.1,0,0,0-8,7.1L25,207.1a8,8,0,0,0,7.9,8.9H223.1a8,8,0,0,0,7.9-8.9l-14.2-128A8.1,8.1,0,0,0,208.8,72Z"
                fill="none"
                stroke="#000000"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="16"
              ></path>
              <path
                d="M88,104V72a40,40,0,0,1,80,0v32"
                fill="none"
                stroke="#000000"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="16"
              ></path>
            </svg>
            <p><span id="navbar-cart-count">5</span></p>
          </a>
        </div>
      </div>
    </div>
    <div id="navbar-mid">
      <img
        class="logo-fab"
        src="https://static.faballey.com/images/logo.png?v=11.39"
        alt=""
      />
      <div id="navbar-mid-mid">
        <div class="dropdown">
          <a href="" class="dropbtn">NEW IN</a>
          <div class="dropdown-content">
            <div class="flexxxxx newin-main">
              <div class="newin">
                <p>Clothing</p>
                <p>Curve</p>
                <p>Accessories</p>
                <p>Bestselling</p>
              </div>
              <img
                class="newin-img"
                src="https://img.faballey.com/images/menu/newinsmenuimg1.jpg"
                alt=""
              />
            </div>
          </div>
        </div>
        <div class="dropdown">
          <a href="#" class="dropbtn">RIMZIM DADI-J X FABALLEY</a>
          <div class="dropdown-content flexxxxx">
            <div class="flexxxxx newin-main">
              <div class="newin">
                <p>Shop The Collection</p>
                <p>Explore The Lookbook</p>
              </div>
              <img
                class="newin-img"
                src="https://img.faballey.com/images/menu/aw22rdmenuimg1.jpg"
                alt=""
              />
            </div>
          </div>
        </div>
        <div>
          <a href="#">WINTERWEAR</a>
        </div>
        <div class="dropdown">
          <a href="#" class="dropbtn">CLOTHING</a>
          <div class="dropdown-content flexxxxx">
            <div class="cloth-main-div">
            <div class="clothing-left">
              <p>Tops</p>
              <p>Dresses</p>
              <p>Co-ords</p>
              <p>Skirts</p>
              <p>Bottoms</p>
              <p>Basics</p>
              <p>Classics</p>
              <p>Workwear</p>
              <p>Loungewear</p>
              <p>Winterwear</p>
              <p class="hover-heading">AW '22</p>
            </div>

            <div class="clothing-mid">
              <p class="hover-heading">SHOP BY OCCASION</p>
              <p>Party</p>
              <p>Vacation</p>
              <p>Work</p>
              <p>Loungewear</p>
              <p class="hover-heading">CURVE</p>
              <p>Tops</p>
              <p>Dresses</p>
            </div>
            <div class="clothing-right">
              <p class="hover-heading">SHOP BY TRENDS</p>
              <p>The New Florals</p>
              <p>Colours of Fall</p>
              <p>Belt up</p>
              <p>Clean & Sharp</p>
              <p>Cool Cut Outs</p>
              <p>Frills & Ruffles</p>
              <p>Statement Textures</p>
              <p>Delicate Lace</p>
            </div>
          </div>
          </div>
        </div>

        <div class="dropdown">
          <a href="#" class="dropbtn">TOPS</a>
          <div class="dropdown-content flexxxxx">
            <div class="tops-main">
            <div class="tops-left">
              <p class="hover-heading">SHOP BY STYLE</p>
              <p>Crop Tops</p>
              <p>Tank Tops</p>
              <p>T-Shirts</p>
              <p>Shirts</p>
              <p>Blouses</p>
              <p>Maxi Tops</p>
              <p>Peplum Tops</p>
              <p>Wrap Tops</p>
              <p>AW '22</p>
            </div>

            <div class="tops-mid">
              <p class="hover-heading">SHOP BY TRENDS</p>
              <p>The New Florals</p>
              <p>Colours of Fall</p>
              <p>Belt up</p>
              <p>Clean & Sharp</p>
              <p>Cool Cut Outs</p>
              <p>Frills & Ruffles</p>
              <p>Statement Textures</p>
              <p>Delicate Lace</p>
            </div>

            <div class="tops-right">
              <p class="hover-heading">SHOP BY OCCASION</p>
              <p>Casual Tops</p>
              <p>Party Tops</p>
              <p>Work Tops</p>
            </div>
            <img class="tops-img"
              src="https://img.faballey.com/images/menu/topmenuimg1.jpg"
              alt=""
            />
          </div>
          </div>
        </div>
        <div class="dropdown">
          <a href="#" class="dropbtn">DRESSES</a>
          <div class="dropdown-content flexxxxx">
            <div class="tops-main">
            <div class="dress-left tops-left">
              <p class="hover-heading">SHOP BY STYLE</p>
              <p>Bodycon Dresses</p>
              <p>A-Line Dresses</p>
              <p>Maxi Dresses</p>
              <p>Midi Dresses</p>
              <p>Mini Dresses</p>
              <p>Skater Dresses</p>
              <p>Shift Dresses</p>
              <p>Shirt Dresses</p>
            </div>
            <div class="dress-mid tops-mid">
              <p class="hover-heading">SHOP BY TRENDS</p>
              <p>The New Florals</p>
              <p>Colours of Fall</p>
              <p>Belt up</p>
              <p>Clean & Sharp</p>
              <p>Cool Cut Outs</p>
              <p>Frills & Ruffles</p>
              <p>Statement Textures</p>
              <p>Delicate Lace</p>
            </div>
            <div class="dress-right tops-right">
              <p class="hover-heading">SHOP BY OCCASION</p>
              <p>Casual Dress</p>
              <p>Party Dress</p>
              <p>Work Dress</p>
            </div>
            <img class="tops-img"
              src="https://img.faballey.com/images/menu/dressesmenuimg1.jpg"
              alt=""
            />
            </div>
          </div>
        </div>
        <div>
          <a href="#">CO-ORDS</a>
        </div>
        <div class="dropdown">
          <a href="#" class="dropbtn">PARTYWEAR</a>
          <div class="dropdown-content">
            <div class="flexxxxx newin-main">
              <div class="newin">
                <p>Shop The Collection</p>
                <p>Explore The Lookbook</p>
              </div>
              <img
                class="newin-img"
                src="https://img.faballey.com/images/menu/fapartywear.jpg"
                alt=""
              />
            </div>
          </div>
        </div>
        <div>
          <a href="#">CURVE</a>
        </div>
        <div class="dropdown">
          <a href="#" class="dropbtn">LOOKBOOKS</a>
          <div class="dropdown-content">
            <div class="flexxxxx newin-main">
              <div class="newin">
                <p>RIMZIM DADU X FABALLEY</p>
                <p>PARTY'22 - Lights.Camera.Shine.</p>
                <p>AW'22 - That Fall Feeling</p>
                <p>SS'22 - Girls Just Wanna Have Sun</p>
              </div>
              <img
                class="newin-img"
                src="https://img.faballey.com/images/menu/lkbkmenuimg1.jpg"
                alt=""
              />
            </div>
          </div>
        </div>
        <div class="dropdown">
          <a href="#" class="dropbtn" style="color: #fc6486;">SALE</a>
          <div class="dropdown-content">
            <div class="flexxxxx sale-main">
              <div class="sale-m">
              <div class="sale-left">
                <p>Clearance</p>
                <p>Under ₹699</p>
                <p>Under ₹799</p>
                <p>Under ₹999</p>
                <p>2 Dresses at 1800</p>
                <p>2 Tops at 999</p>
                <p>Shop The Collection</p>
                <p>Explore The Lookbook</p>
              </div>
              <img
                class="sale-img"
                src="https://img.faballey.com/images/clearance-saledpnv2.jpg"
                alt=""
              />
              <img
                class="sale-img"
                src="https://img.faballey.com/images/699saleundr.jpg"
                alt=""
              />
              <img
                class="sale-img"
                src="https://img.faballey.com/images/799saleundr.jpg"
                alt=""
              />
              <img
                class="sale-img"
                src="https://img.faballey.com/images/999saleundr.jpg"
                alt=""
              />
            </div>
            </div>
          </div>
        </div>
      </div>
      <form role="search" class="search-form">
        <input
          type="search"
          name="q"
          class="search-text"
          placeholder="Search..."
          autocomplete="off"
        />
        <input type="submit" value="" class="search-submit" />
        <div id="mic">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="feather feather-mic"
          >
            <path
              d="M12 1a3 3 0 0 0-3 3v8a3 3 0 0 0 6 0V4a3 3 0 0 0-3-3z"
            ></path>
            <path d="M19 10v2a7 7 0 0 1-14 0v-2"></path>
            <line x1="12" y1="19" x2="12" y2="23"></line>
            <line x1="8" y1="23" x2="16" y2="23"></line>
          </svg>
        </div>
      </form>
      <select name="currency" id="currency">
        <option>₹ INR</option>
        <option>$ USD</option>
        <option>$ CAD</option>
        <option>£ GBP</option>
        <option>$ SGD</option>
        <option>$ AUD</option>
        <option>د.إ AED</option>
        <option>﷼ SAR</option>
        <option>€ EURO</option>
      </select>
    </div>
    <div id="nav-bottom">
      <div>Party'22 | Shop Now</div>
      <div>Sale | Upto off</div>
      <div>Free shipping on all orders</div>
    </div>
    <div>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga quam ex
      dolorum tenetur, repellendus inventore molestias expedita aut nihil
      consequatur laborum sequi consectetur eos, temporibus libero labore
      numquam? Ad, natus. Animi accusantium ratione obcaecati quasi esse, totam
      facere vitae. Assumenda accusantium, similique eligendi provident
      consequuntur vitae tenetur deserunt qui eius veritatis non natus ratione,
      architecto mollitia repudiandae delectus numquam. Nesciunt. Reprehenderit
      voluptas rem aliquid, eaque sint quos ea quas. Velit adipisci a tenetur ut
      non asperiores repudiandae id, nemo provident, explicabo eveniet? Autem,
      veritatis nulla? Aliquam ad perspiciatis labore animi? Nobis, eius in
      soluta nesciunt repellendus cum velit facere reprehenderit libero
      voluptatem laboriosam alias eligendi, numquam consequuntur similique
      suscipit iste debitis dignissimos earum. Reiciendis asperiores tenetur
      veniam aspernatur, minus quasi. Molestiae ducimus, optio eaque quod
      quisquam distinctio sed omnis quidem velit voluptatum aperiam laborum
      aspernatur fugiat nam vel ullam veritatis labore earum. At distinctio
      dolor tenetur porro quidem architecto labore! Dolores voluptas quod
      officia accusantium eum eos quisquam aut necessitatibus animi quidem rerum
      commodi iure quos sequi sed nesciunt temporibus totam reprehenderit nam,
      reiciendis praesentium iusto debitis distinctio! Asperiores, veniam? Saepe
      quae nostrum architecto vero nesciunt, porro, fugiat atque hic distinctio
      et ipsa. Quo fugiat molestias porro dolor. Quasi nulla deserunt ad!
      Commodi, cum. Ipsam praesentium corrupti dicta quia provident.
      Consequuntur officiis consequatur ratione pariatur, error corrupti ullam
      cumque itaque sit quae magnam non obcaecati inventore suscipit accusantium
      a iste quidem, vel autem doloribus dicta. Perferendis accusamus mollitia
      rem tempore. Ea dolor nobis quidem, ex sint voluptatum illo recusandae
      iste officiis mollitia ipsa sit maxime earum accusantium itaque facilis
      omnis aperiam laboriosam iusto id adipisci inventore molestiae? Voluptate,
      nostrum facilis! Natus, corrupti tempore doloremque error ipsam rerum
      asperiores nisi. Doloribus numquam corrupti consequuntur iste odit. Ipsa
      quaerat, exercitationem ab magnam odio magni, neque eaque porro
      consectetur incidunt, quae assumenda quo? Quae perferendis veniam quos
      dignissimos inventore id quis quidem assumenda impedit officiis sequi
      dolorum optio dolore recusandae quo doloremque laudantium, voluptate sit
      quas qui? Earum debitis dignissimos totam ullam inventore? Repellendus
      recusandae beatae fugiat ab unde quas, dolores quis in enim nemo, incidunt
      soluta, quibusdam placeat? Ipsa, sapiente facilis? Doloribus eaque
      accusamus culpa tempora quasi nobis incidunt reprehenderit magni soluta?
      Amet fuga soluta asperiores? Aperiam, eveniet non. Vitae molestiae eum
      veritatis. Itaque labore necessitatibus enim iste a hic! Provident, nihil
      modi nobis ratione ad sunt saepe repudiandae rem voluptatum dolores!
      Debitis perspiciatis doloremque explicabo quos, soluta dolores ratione
      nihil, aperiam commodi rem recusandae tempore saepe repudiandae, provident
      quibusdam quaerat quae repellat possimus eligendi maiores totam ea porro!
      Eius, repellendus maiores! Eos, accusamus sint eveniet quaerat modi
      tempore. Inventore hic commodi magni, officia labore ex eligendi fuga
      nostrum, odio libero voluptatibus. Minus pariatur, perferendis excepturi
      cupiditate aut eligendi totam voluptatem at. Quibusdam, repellat ab? Iure
      repellat cupiditate, odio impedit necessitatibus eius tenetur ullam alias
      laboriosam vel assumenda asperiores debitis, sed cumque totam mollitia
      nisi. Nobis vel eaque facere debitis rerum itaque! Ipsum est unde quasi
      nihil dolores labore quia perspiciatis. Temporibus aliquid optio officiis
      ipsa autem ullam consequatur numquam quam necessitatibus voluptatum!
      Reiciendis doloremque quia dignissimos dolore incidunt quibusdam amet
      excepturi. A consequatur ducimus natus, ab provident iusto nesciunt
      corrupti unde repellendus. Excepturi, asperiores accusantium. Est eligendi
      aliquid cumque saepe, dignissimos laborum voluptas velit. Saepe enim in
      et. Quis, rerum corporis? Vitae quia reprehenderit commodi cupiditate
      iusto dolorem accusamus saepe ut, doloremque, ipsum quas repellendus!
      Deleniti harum officia ex voluptates, ratione ut culpa libero modi minima
      sunt magnam quisquam adipisci quae. Debitis illo recusandae, quibusdam
      vitae tempora reiciendis iste laboriosam repellendus quo asperiores
      maxime! Dolorem dolor aliquid quasi a, nobis cumque laborum laudantium
      molestiae incidunt ab maxime molestias doloremque exercitationem sunt?
      Debitis, maxime? Repudiandae corporis eius animi molestias quasi officiis
      nostrum a, deserunt tempore. Esse neque quia nisi veritatis, in eaque,
      deserunt iste blanditiis fuga quis beatae! Accusantium dolorem blanditiis
      et. Sit, labore? Officiis cum facilis eum repudiandae necessitatibus
      suscipit commodi saepe ea deleniti dolor explicabo nulla alias molestias
      reiciendis, aliquam laborum fugiat aliquid iusto nam eius numquam. Ut,
      esse laborum! Illum, tempora laboriosam et laborum sit minus quibusdam
      veniam molestias animi est eaque quae dolorum nostrum. Maiores optio
      repudiandae eaque odio esse pariatur, explicabo id dignissimos illo ad
      expedita sit. Ea asperiores obcaecati aliquam sint, itaque autem
      laudantium illum, cumque rem maxime natus repudiandae laboriosam, debitis
      tempore explicabo. Rerum, cumque commodi harum nihil perferendis officia
      maiores autem dicta animi reprehenderit. Ducimus odit repellat excepturi
      neque cum eligendi fugit, qui odio ut quam voluptas. Corporis enim iure
      doloremque sapiente explicabo, voluptatibus accusantium tempore maxime
      eveniet dolores quibusdam quae? Deleniti, unde nostrum. Ullam eos enim
      necessitatibus, quo obcaecati eveniet sed rerum perspiciatis dignissimos!
      Recusandae eum doloremque labore fugit expedita pariatur beatae itaque ex,
      et obcaecati dicta reiciendis cumque quisquam. Provident, sed molestias.
      Repellat assumenda esse fugit odit vero, quod culpa excepturi eum a,
      nulla, architecto ipsum totam ullam facere eligendi quis magnam illum!
      Neque recusandae animi impedit adipisci quisquam! Libero, facere iste!
      Est, dignissimos delectus. Modi voluptatem provident dicta eligendi fugit
      quam enim iusto. Neque temporibus reiciendis expedita fugit sequi esse,
      deserunt sapiente illum doloremque eos rem blanditiis, ullam, sit ab? Ab?
      Id illo, obcaecati fuga omnis facilis velit rem distinctio sapiente
      eveniet consequuntur fugiat autem. Ipsa hic commodi, voluptatem porro
      distinctio incidunt aut unde beatae similique perspiciatis tempore tenetur
      fugiat accusamus! Consequuntur, aliquam quos fugit omnis quibusdam non
      officiis corrupti ea nesciunt laboriosam, neque, veritatis mollitia libero
      explicabo dolores distinctio quisquam? Repellat quibusdam harum commodi
      quaerat impedit fugiat nam quas fuga! Sapiente explicabo beatae officiis
      quia repellat voluptatem iste nesciunt nobis, vel porro veniam ad.
      Voluptate adipisci voluptatem harum perspiciatis aliquid, ipsa alias nemo
      veritatis nisi nesciunt vero officiis animi laudantium! Eius tempore quod
      itaque, placeat neque libero in quidem maxime facilis quae assumenda
      eveniet corrupti omnis distinctio eum ex modi beatae sunt nam, suscipit
      accusantium voluptatibus tenetur aperiam ratione. Eos. Modi a doloremque
      omnis rerum, sint, autem maiores fuga deserunt molestiae esse est.
      Corrupti facilis quos dolores suscipit sequi iusto tenetur error, eos
      maxime vitae? Blanditiis expedita at iste officiis! Quia sapiente nobis
      possimus debitis libero natus assumenda amet id pariatur. Iste praesentium
      veniam rem commodi maiores ipsa reiciendis totam, molestiae itaque nobis.
      Natus nostrum qui minus officia veniam a. Quae maiores odit suscipit
      laudantium eius accusantium fugiat non ab maxime autem consectetur aperiam
      commodi, delectus iusto exercitationem officia libero dolore! At ut sint
      voluptas ex ducimus placeat odit odio. Sequi hic numquam animi impedit,
      totam, magni corrupti expedita praesentium dicta doloremque, architecto
      error explicabo ducimus modi doloribus? Exercitationem porro perspiciatis
      natus, itaque iste molestiae placeat hic dolores magnam nam! Repudiandae
      fugiat vitae exercitationem recusandae. Totam inventore corrupti dolorum
      explicabo deleniti? Provident quasi, optio mollitia recusandae minima hic
      ipsam, ipsa aut corporis sunt repudiandae! Ad necessitatibus voluptatem
      facere fuga autem. Iste doloremque, laboriosam sit fugiat in perspiciatis
      repudiandae maiores at. Quam, magni maxime. A eaque ullam ut et dolorum
      optio, sed corporis ratione quia eius dolor voluptatum consequatur
      necessitatibus nemo? Repellat ducimus impedit ea omnis itaque ratione,
      minus, atque ut repellendus voluptatum facere quae. Deleniti perspiciatis
      rerum ipsam eaque magni quam impedit earum error, temporibus quidem fugit
      amet reiciendis asperiores! Cupiditate odit ipsum, nam quia dicta amet
      voluptas facere perspiciatis dolore asperiores tenetur numquam maxime,
      quod earum possimus! Natus, atque in. Natus esse iusto at sapiente
      laboriosam. Quae, nam nisi.
    </div>
  </body>
</html>
