<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar</title>
    <link rel="stylesheet" href="./navbar.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <div id="navbar">
        <div id="top-banner">
            <div id="left">

            </div>
            <div id="center">
                <div id="faballey-img">
                    <img src="https://static.faballey.com/images/indya/fabwht.png?v=11.39" alt="">
                </div>
                <div id="indya">
                    <img src="https://static.faballey.com/images/indya/indblk.png?v=11.39" alt="">
                </div>
            </div>
            <div id="right">
                <a href="">Track Order |</a>
                <a href="">Store Locator |</a>
                <a href="">Login |</a>
                <a href="">Sign up |</a>
                <a id="navbar-cart">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#000000" viewBox="0 0 256 256"><rect width="256" height="256" fill="none"></rect><path d="M208.8,72H47.2a8.1,8.1,0,0,0-8,7.1L25,207.1a8,8,0,0,0,7.9,8.9H223.1a8,8,0,0,0,7.9-8.9l-14.2-128A8.1,8.1,0,0,0,208.8,72Z" fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></path><path d="M88,104V72a40,40,0,0,1,80,0v32" fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></path></svg>
                    <p><span id="navbar-cart-count">5</span></p>
                </a>
            </div>
        </div>
    </div>
    <img class="logo-fab" src="https://static.faballey.com/images/logo.png?v=11.39" alt="">
    <div id="navbar-mid">
        <div id="navbar-mid-mid">
            <a href="">NEW IN</a>
            <a href="#">RIMZIM DADI-J X FABALLEY</a>
            <a href="#">WINTERWEAR</a>
            <a href="#">CLOTHING</a>
            <a href="#">TOPS</a>
            <a href="#">DRESSES</a>
            <a href="#">CO-ORDS</a>
            <a href="#">PARTYWEAR</a>
            <a href="#">CURVE</a>
            <a href="#">LOOKBOOKS</a>
            <a href="#">SALE</a>
        </div>
    </div>
    <form role="search" class="search-form">
		<input type="submit" value="" class="search-submit">
		<input type="search" name="q" class="search-text" placeholder="Search..." autocomplete="off">
    <select name="currency" id="currency">
        <option>₹ INR</option>
        <option>$ USD</option>
        <option>$ CAD</option>
        <option>£ GBP</option>
        <option>$ SGD</option>
        <option>$ AUD</option>
        <option>د.إ AED</option>
        <option>﷼ SAR</option>
        <option>€ EURO</option>
    </select>
</body>
</html>